<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
</style>

/* *Aspectos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    background-color: #fbfbfb;
}

body {
    font-family:'lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color:#fbfbfb;
    color: #0f0f0f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    border-bottom: 1px solid black;
}


/* Para quitar los puntos a los items de listas */
ul#menu {
    list-style: none;
    display: flex;
    font-size: 20px;  

}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* en tipografia generalmente usamos numeros pares */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    margin: 16px 0;
    line-height: 1.2;
	font-size: 18px;
}



/* *Funciones del menú */

li#menu-items, a:hover {
    background-color: rgba(175, 89, 158, 0.3);
    transition: background-color 0, 3s;
}

li.menu-item, a {
    padding: 16px;
    display: inline-block;
}

.contact-links:hover, .menu-item:hover {
    scroll-behavior: smooth;
    height: 50px; 
    
} 
/** Diseño de imagenes  */

/* Logo Eidos imagen en header */
.logo {
    width: 120px;
}
/* imagen de presentación "gatito" */
img.foto {
    mask-image: 2px
    width: 400px;
	border-radius: 50%;
    margin-right: 50px;
}
/* imagenes de los logos -enlaces- */
img.imagen {
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}

ul#contact-links {
    display:flex;
    vertical-align:text-bottom;
    
}




/* *Diseño de Secciones */
/* General */
section {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;
    /* Lugar para el header */
    padding-top: 90px;
}
/* sección de inicio */
section#inicio {
    display: flex;
    
}

.presentacion {
    margin-bottom: 30px;
    
}
/* sección de contacto */
section#contacto {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

}

.hablemos {
    background-color: rgba(175, 89, 158, 0.3);
    text-align:center;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10%;
    padding: 10px;

}   


/* *Articulos  */

/* articulo de presentación */
article.presentacion {
    width: 50%;
    text-align: start;
    margin-left: 0.5%;
    padding: 10px;
}
/* general */
article {
    width: 50%;
    text-align: start;
    margin-left: 20%%;
    padding: 10px;
    
    border-radius: 15px;
    width: 100vh;
    height: min-content;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* *Funciones del boton */

.button {
    font-size: 20px;
    border-radius: 25px;
}

.button, footer {
    background-color: #af599e;
    color: #fbfbfb;
    text-align: center;
    padding: 10px;
}


footer {
    background-color:  #af599e;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #fbfbfb;
    font-size: medium;
}

